.widget
  background-color: #f5f5f5
  padding: 1.5rem

  ul
    list-style: none
    margin: 0
    padding-left: 0

  select
    width: 100%

  a
    color: $scout-grey-80

.widget-title, // Support for OSM widget
.widget__title
  @include font-size(20px, 24px)
  font-weight: 900
  color: $scout-black
  border-bottom: 3px solid $scout-purple
  margin-bottom: 1em
  padding-bottom: 0.5em

@media (min-width: 60rem)
  .widget + .widget
    margin-top: $base-spacing
