body
  display: flex
  flex-direction: column
  min-height: 100vh

.container
  width: $container
  max-width: $max-width
  margin: 0 auto

.page__wrapper
  flex-grow: 1
  margin-top: $double-spacing
  margin-bottom: $double-spacing

.sidebar-right
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
  grid-gap: $double-spacing

@media (min-width: 60rem)
  .has-sidebar-right
    .page__wrapper
      display: grid
      grid-template-columns: 1fr 20rem
      grid-gap: $double-spacing

  .sidebar-right
    grid-auto-rows: max-content
    grid-gap: 0
