@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  color: #666666;
  margin-bottom: 0.25em;
  margin-top: 0;
  font-weight: 900;
}

h1 {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.12;
}

h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.25;
}

h4 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.2307692308;
}

h5 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.1428571429;
}

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  margin-top: 0;
  margin-bottom: 24px;
}

b, strong {
  font-weight: 900;
}

em, i {
  font-style: italic;
}

small, cite {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #999999;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem;
  position: relative;
  background-color: #f2f2f2;
}
blockquote::before {
  content: url("../images/left-quotes-sign.svg");
  display: block;
  float: left;
  margin-right: 1em;
  width: 2rem;
  height: 2rem;
}
blockquote p {
  margin-bottom: 0.5em;
}
blockquote cite {
  font-weight: 300;
  font-style: italic;
}
@media (min-width: 40rem) {
  blockquote {
    margin: 0 3rem 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 4.5rem;
  }
  blockquote::before {
    position: absolute;
    left: 20px;
  }
}

a, a:visited {
  text-decoration: none;
  color: #00a794;
}

a:hover,
a:focus {
  text-decoration: underline;
}

ul, ol {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 3rem;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

hr {
  border: 2px solid #00a794;
  margin: 1.5rem 3rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__wrapper {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-row-gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.site__content, .sidebar-right {
  grid-column: 2;
}

.sidebar-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
}
.sidebar-right .widget {
  margin-bottom: 1.5rem;
}

@media (min-width: 60rem) {
  .page__wrapper {
    grid-template-columns: 1fr 56rem 1fr;
  }

  .has-sidebar-right .page__wrapper {
    grid-template-columns: 1fr minmax(31rem, 46rem) 20rem 1fr;
    grid-column-gap: 3rem;
  }
  .has-sidebar-right .sidebar-right {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    grid-column: 3;
  }
}
.site__header {
  position: relative;
}

footer {
  padding: 3rem;
}

.footer__widget-areas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
}

@media (min-width: 800px) {
  .footer__widget-areas {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__widget-area--left {
    grid-column: 1;
  }

  .footer__widget-area--centre {
    grid-column: 2;
  }

  .footer__widget-area--right {
    grid-column: 3;
  }
}
.site__branding {
  width: 94%;
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem 2rem 0;
}

.logo ~ .titles {
  margin-top: 1.5rem;
}

.site__title {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 1rem;
  color: #000000;
}

.site__tag {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  margin-bottom: 0;
}

@media (min-width: 50rem) {
  .site__branding {
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 3rem;
    align-items: end;
    max-width: 1200px;
    padding: 1.5rem 0;
  }

  .logo ~ .titles {
    margin-top: 0;
  }
}
.menu-toggle {
  display: none;
}

.primary-menu__list,
.sub-menu {
  background-color: #7413dc;
  color: #ffffff;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.primary-menu__list a,
.sub-menu a {
  display: block;
  padding: 1em 1.5em;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  color: inherit;
}

.sub-menu {
  display: none;
}

.current-menu-item a,
.current-page-ancestor a,
.current_page_parent a {
  font-weight: 700;
}

.js .menu-toggle {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 2rem;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 3;
}
.js .menu-toggle svg {
  width: 32px;
  height: 32px;
}
.js .menu-toggle span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
.js .primary-menu__list {
  position: absolute;
  top: 0;
  left: -20rem;
  width: 20rem;
  min-height: 100vh;
  padding-top: 3rem;
  transition: transform 400ms ease-in-out;
  z-index: 1;
}
.js .primary-menu__list.is-open {
  transform: translateX(20rem);
}

#menu-toggle {
  fill: #7413dc;
}
#menu-toggle.inverted {
  fill: #ffffff;
}

@media (min-width: 50rem) {
  .js .primary-menu {
    background-color: #7413dc;
    color: #ffffff;
  }
  .js .primary-menu__list {
    position: static;
    width: 94%;
    min-height: unset;
    padding-top: 0;
    display: flex;
    justify-content: start;
    max-width: 1200px;
    margin: 0 auto;
  }
  .js .primary-menu__list a {
    text-align: left;
  }
  .js .menu-toggle {
    display: none;
  }
  .js .primary-menu__list > .menu-item:first-child {
    margin-left: -1.5rem;
  }
}
.menu-item-has-children {
  position: relative;
}
.menu-item-has-children > a::after {
  content: "⯆";
  position: absolute;
  top: calc(50% - 6px);
  right: 8px;
  font-size: 0.8em;
}
.menu-item-has-children:hover > .sub-menu, .menu-item-has-children:focus-within > .sub-menu {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
}
